/* ==========================================================================
   Base layout 
   ========================================================================== */

body {
	padding-top: 40px;

	@include breakpoint($tabletBreak){
		padding-top:0;	
	}
}
.feathouseblockwrap {
	@include background-image(linear-gradient($white-bg, $white-darkbg));
	padding:0 0 1em;
	position:relative;
	background: url(../images/fogle.png) repeat-x center top $white-bg
	//,  url(../images/fogfel.png) repeat-x center bottom $white-bg
	;
	
}
.nagywrap {
	@include background-image(linear-gradient($white-bg, $white-darkbg));
	overflow:hidden;
}

.kwrap-1 {
	
	background: url(../images/aljataj.png) repeat-x center bottom transparent;
	//@include background-image(linear-gradient($white-bg, $white-darkbg));
	padding-bottom:8em;
}


.home .kwrap-1 {
	//background-image: none;
	//background: url(../images/pitypang.png) repeat-x center bottom transparent;
	background-image: none;
	//@include background(linear-gradient($white-bg, $white-darkbg));
	padding:4em 0;
}

.home .kwrap-2,  {
	background: url(../images/pitypang.png) repeat-x center bottom transparent;
	//@include background(linear-gradient($white-bg, $white-darkbg));
	padding:4em 0;

}

.home .kwrap-3,  {
	background: url(../images/aljataj.png) repeat-x center bottom transparent;
	//@include background-image(linear-gradient($white-bg, $white-darkbg));
	padding:4em 0 8em;
}


.page-id-15 .kwrap-1 {
 	//background-image: none;
 	background: url(../images/pitypang.png) repeat-x center bottom transparent;
 	padding-bottom:8em;
 }

.page-id-15 .kwrap-2,  {
	background: url(../images/aljataj.png) repeat-x center bottom transparent;
	//@include background-image(linear-gradient($white-bg, $white-darkbg));
	padding:0 0 8em;
}

.page-id-15 .kwrap-2 {
 	background: url(../images/hatar_bg.jpg) no-repeat center bottom transparent;
 	@include background-size(100%);
 	padding-bottom:10em;
}
.container-fluid {
	max-width: 1170px;
	margin-left: auto;
	margin-right:auto;
}


.main {
	ul:not(.nav), ol {
		li {
			margin:1em 2em;
		}
	}
}