$gray-footerold:#403833;
$gray-footer:#3b312a;
$gray-border:#625a53;

$brown-menu:#341b0f;
$brown-text:$brown-menu;

$brown-light:#cfc9b3;
$brown-glass:#dfdbc0;
$brown-linea:#403833;
$brown-slogan:#6d5e53;
$brown-input:#917f74;



$white-bg:#f9f6e4;
$white-darkbg:#e3dec0;

$yellow-glass:#fef8d0;
$yellow-footer:#f1eac7;
$yellow-display:#feffd7;
$yellow-menu:#fffed2;

$orange-top:#d26e24;
$orange-bottom:#a1420f;
$orange-menu:#9e2700;


$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       'Noto Serif', Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;
$scriptFontFamily:      'Berkshire Swash', cursive;
$displayFontFamily:     'Playfair Display', serif;


$mobileBreak: max-width 480px;
$tabletBreak: max-width 768px;
$destopBreak: max-width 980px;
