

/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }



.page-header {
	text-align: center;
		
	h1,h2 {
		text-align: center;
		border-top:1px solid $brown-linea;
		border-bottom:1px solid $brown-linea;
		padding:0.1em 0 0.125em 0;
		margin-left: 68px;
		margin-right:68px;
		position:relative;
		display: inline-block;


		
		&:before {
				content:"";
				position:absolute;
				left:-68px;
				top:0.4333333em;
				width:54px;height:23px;
				background: url(../images/fityma.png) no-repeat left top transparent;


			}
		&:after {
			content:"";
			position:absolute;
			right:-68px;
			top:0.4333333em;
			width:54px;height:23px;
			background: url(../images/fityma.png) no-repeat right top transparent;
		}
	}
}

.navigation-post {
	.previous {
		float:left;
		width:50%;
		text-align: left;

	}
	.next {
		float:right;
		width:50%;
		text-align:right;

	}
	a {
		background: $orange-menu;
		color:white;
		display: inline-block;
		padding:0.25em 1em;
	}
}




