/* ==========================================================================
   Footer
   ========================================================================== */

.footerwrap {
	background: url(../images/keriteske.png) repeat-x center -20px $gray-footer;
	color:$yellow-glass;
	position:relative;
	padding:3em 0 4em;
	&:before{
		content:"";
	 	position:absolute;
	 	top:-20px;
	 	left:0;right:0;
	 	content:"";
	 	background:url(../images/keriteske.png) repeat-x center top transparent;
	 	height:20px;
	 	
 	}

}


.content-info {

}
