.kiskep-carousel {
  .item {
    padding:0 1rem;
  }
  figcaption {
    font-size: 87.5%;
  }
}
.thumbnail {
  background-color: $brown-light;
  &:hover, &:focus {
    background-color: $orange-top;
    border-color: $orange-top !important;
  }
}
figure {
  margin:0;
  padding:0;
  text-align: center;
  .thumbnail {
    display: inline-block;
  }
}
.gallery {
  @include clearfix();
  margin:0 auto 1rem;
  list-style-type: none;
  > li {
    display: block;
    &:nth-of-type(n+4) + li {
      //display: none;
    }
  }
}

.gallery-grid-4, .gallery-grid-5, .gallery-grid-6 {
  > li {
    @include bp($mobileBreak) {
      float:left;
      margin:1% !important;
      width:48%;
      &:nth-child(2n+1) {
        clear:left;
      }
    }
    @include bp($tabletBreak) {
      width:31.3333%;
      &:nth-child(2n+1) {
        clear:none;
      }
      &:nth-child(3n+1) {
        clear:left;
      }
    }
    @include bp($desktopBreak) {
      width:23%;
      &:nth-child(3n+1) {
        clear:none;
      }
      &:nth-child(4n+1) {
        clear:left;
      }
    }
  }
}
