
/* =============================================================================
   Header
   ========================================================================== */




.banner { }
.header2 {
	
	.container-fluid {
		position: relative;		
	}
	
	.headinfo {
		z-index:2;
		position:absolute;
		width:auto;
		left:20px;right:20px;top:0;
	}
}
.headinfo {
	padding-top:1em;
}

.logo{
	position:absolute;
	top:0;
	height:145px;
	width:230px;
	z-index:100;
	@include breakpoint($mobileBreak) {
		display:none;
	}
}
.logotext{
	opacity:0;
	@include breakpoint($mobileBreak) {
		opacity:1;
	}

}

.langsel {
	font-weight: bold;
	float:left;
}
.callmenow{
	text-align: right;
	color:$orange-menu;
	font-size:1.5em;
	font-weight: bold;
	font-family: $displayFontFamily;
	float:right;
}
.slogan {
	text-align: center;
	color:$brown-slogan;
	font-size:1.25em;
	font-family:$scriptFontFamily;
	margin-top:2em;
	margin-bottom:1em;
}