
/* =============================================================================
   Header
   ========================================================================== */




.banner { }
.header2 {
	padding:0.75em 0 0.75em;
}
.logo{
	position:absolute;
	top:0;
	height:145px;
	width:230px;
	z-index:100;
	@include breakpoint($mobileBreak) {
		display:none;
	}
}
.logotext{
	opacity:0;
	@include breakpoint($mobileBreak) {
		opacity:1;
	}

}

.langsel {
	font-weight: bold;
	float:left;
}
.callmenow{
	text-align: right;
	color:$orange-menu;
	font-size:1.5em;
	font-weight: bold;
	font-family: $displayFontFamily;
	float:right;
}
.slogan {
	text-align: right;
	color:$brown-slogan;
	font-size:1.5em;
	font-family:$scriptFontFamily;
	margin-top:1.5em;
}