/* ==========================================================================
   Houses
   ========================================================================== */

.single-house {
	.house-figure {
		margin:0;
		img {
			border:10px solid $brown-light;
			@include box-sizing('border-box');
			@include box-shadow(0 0 5px 0 $brown-light);
		}
	}

	.house-datablock {
		float:right;
		@include breakpoint($tabletBreak){
			float:none;
		}
		h3 {
			//text-align: center;
		}
	}
	.house-tabdata {
		clear:left;
		margin-left:0;
		margin-top:2em;

		@include breakpoint($tabletBreak){
			clear:none;
		}

		.tab-pane{
			//background: $gray-footerold;
		}

	}
	.actionblock {
		text-align:center;
		margin:2em 0;
		
		.btn {
			
			//display: block;
			//text-transform: uppercase;
			font-family: $displayFontFamily;
			//font-weight:bold;
			padding-top:0.5em;
			padding-bottom:0.5em;
			padding:0.5em 5em;
			
			span {
				font-family: $displayFontFamily;
				display:block;
				font-size:1.75em;
				//line-height: 1.25em;
				font-weight: bold;
				padding:0 0 0.25em;
			}
		}
	}
}

/*	===========================================
	House List
	===========================================   */

.page-template-template-house-list-php {
	
	article.house {
		background: $yellow-glass;
		padding:16px;
		border:1px solid $brown-glass;
		@include box-shadow(0 0 5px 0 $brown-glass );
	}




	.house-figure {
		margin:0;
		text-align: center;
	}
	.house-title {
		text-align: center;
		background: $brown-glass;
		margin:0.666666em -16px;
	}



	.actionblock {
		text-align:center;
		margin:1em 0;
		
		.btn {
			font-family: $displayFontFamily;
			text-transform: uppercase;
			display:block;
		}
	}
}

/*	===========================================
	Featured House
	===========================================   */

.feathouseblockwrap {
	//background: $gray-footerold;


	.feathouseblock {
		margin-top: 4em;
		margin-bottom:4em;
		text-align: center;

		
		.featblock-title {

			border-top:1px solid $brown-linea;
			border-bottom:1px solid $brown-linea;
			padding:0.1em 0 0.125em 0;
			margin-left:68px;
			margin-right:68px;
			margin-bottom:1em;
			position:relative;
			display: inline-block;
			
			&:before {
				content:"";
				position:absolute;
				left:-68px;
				top:0.5em;
				width:54px;height:23px;
				background: url(../images/fityma.png) no-repeat left top transparent;


			}
			&:after {
				content:"";
				position:absolute;
				right:-68px;
				top:0.5em;
				width:54px;height:23px;
				background: url(../images/fityma.png) no-repeat right top transparent;
			}

		}


	}

}

.feathouse {
	//text-align: left;
	margin-bottom:2em;
	.feat-figure{
		margin:0;
	}
	.feat-data {
		

	}
	.feat-title {
		margin:0;
	}

}









