/* ==========================================================================
   Sidebar
   ========================================================================== */




.okos[class*="span"] {

	@include breakpoint($largeBreak){
		width: 5*$fluidGridColumnWidth+4*$fluidGridGutterWidth;
	}
	
	@include breakpoint($desktopBreak){
		width: 6*$fluidGridColumnWidth+5*$fluidGridGutterWidth;
	}

	@include breakpoint($tabletBreak){
		width: 6*$fluidGridColumnWidth+5*$fluidGridGutterWidth;
		float:left;
	}
	@include breakpoint($mobileBreak){
		float:none;
		width: 100%;
		display: block;
		@include box-sizing('border-box');
	}



}

.sidebar-1[class*="span"]{
	
	@include breakpoint($largeBreak){
		width: 3.5*$fluidGridColumnWidth+2.5*$fluidGridGutterWidth;
	}

	@include breakpoint($desktopBreak){
	    //float: none;
	    float:right;
	    //display: block;
	    width: 6*$fluidGridColumnWidth+5*$fluidGridGutterWidth;
	    margin-left: $fluidGridGutterWidth;
	   	//@include box-sizing('border-box');
	}

	@include breakpoint($tabletBreak){
	    //float: none;
	    float:right;
	    //display: block;
	    width: 6*$fluidGridColumnWidth+5*$fluidGridGutterWidth;
	    margin-left: $fluidGridGutterWidth;
	   	//@include box-sizing('border-box');
	}

	@include breakpoint($mobileBreak){
		float:none;
		width: 100%;
		display: block;
		margin-left: 0;
		@include box-sizing('border-box');
	}
}

.sidebar-2[class*="span"] {
	@extend .sidebar-1[class*="span"];

	@include breakpoint($largeBreak){
		//margin-left:7/8*$fluidGridGutterWidth;
	}

	
}

.sidebar {

	.widget {
		
	}
	.widget-inner h3 {
		text-align: center;
	}


	.cumo {
		//margin-bottom:0;
		//display:none;
	}

	.slidertext {
		background:rgba($gray-footerold,0.95);
		background:rgba($brown-glass,1);
		
		width:auto;
		float:none;
		margin:0;
	}

	.side-albums {
		background:rgba($gray-footerold,0.95);
		background:rgba($brown-glass,1);
		margin-top:0;
		//color:$yellow-footer;
		.widget-inner {
			padding:1em;
		}
	}

}
footer.content-info {
	.widget {
		margin-bottom:1em;
	}

}

.widget_mailchimpsf_widget {
	
	#mc_subheader {
		font-weight:bold;
		padding-bottom:0.5em;
	}
	#mc_signup_form {
		position: relative;
		padding-bottom:0.25em;
		margin-bottom:1.5em;
		
	}
	.updated {
		font-weight:normal;
		font-size: 0.875em;
		position:absolute;
		top:100%;
		line-height:1.4em;
	}
	.mc_error_msg {
		color: $orange-menu;
		font-weight:normal;
	}
	.mc_success_msg{
		color:$yellow-footer;
		font-weight:normal;
	}
	.mc_merge_var{
		//text-align: center;
	}
	.mc_var_label {
		display:none;
	}
	input[type="text"]{
		width:100%;
		max-width: 250px;
	}
	.mc_signup_submit {
		text-align: left;
	}
	#mc_signup_submit {
		width:100%;
		max-width:266px;
	}


}

.tothetop {
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	float:right;
	font-size:1.5em;
	
	margin-top:-2em;
	margin-right:-2em;
	background: $orange-menu;
	color:$white-bg;
	//font-family: $scriptFontFamily;
	//font-weight: bold;
	width:2em;
	height:2em;
	padding-top:0.475em;
	@include box-sizing(border-box);
	@include border-radius(1em);
	&:hover {
		text-decoration:none;
		background: $orange-top;
		color:$white-darkbg;
	}

	@include breakpoint($tabletBreak){
		float:none;
		display:block;
		margin:1em auto 0 auto;
		//width:80px;
		//height:80px;
		font-size:3em;

	}
	i{
		
		//display: block;
	}
}

.topi {
	//@extend .tothetop;
	//float:none;
	text-align: center;
	display: block;
	font-size:1.5em;
	background: $orange-menu;
	color:$white-bg;
	@include box-sizing(border-box);
	@include border-radius(1em);
	width:2em;
	height:2em;
	padding-top:0.475em;
	position:absolute;
	right:1em;
	bottom:1em;


	@include breakpoint($tabletBreak){
		
		position: static;
		margin:0 auto 0 auto;
		font-size:3em;

	}
	&:hover {
		text-decoration:none;
		background: $orange-top;
		color:$white-darkbg;
	}
}