
/* =============================================================================
   Home Page Slider
   ========================================================================== */


.sliderwrap{
 background:url(http://placehold.it/1680x800/e3dec0/f9f6e4/) no-repeat center center transparent;
 position:relative;
 margin-bottom:36px;
 &:after{
 	position:absolute;
 	bottom:-36px;
 	left:0;right:0;
 	content:"";
 	background:url(../images/fogak.jpg) repeat-x center bottom transparent;
 	width:100%;
 	height:35px;
 	border-top:1px solid $brown-glass;

 }
}

.sliderblock{


}
.sliderimg {
	width:66%;
	float:left;
	display:block;
	margin-top:2em;
	margin-bottom:2em;


}
.slidertext{
	float:left;
	width:33%;
	margin-left:0.2em;
	margin-top:2em;
	margin-bottom:2em;
	background: rgba($brown-glass,0.5);
}