@import "compass";
@import "breakpoint";
@import "bits";
@import "base";
@import "header";
@import "slider";
@import "magnific";
@import "nextgen";
@import "content";
@import "posts";
@import "houses";
@import "sidebar";
@import "footer";










/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}
