/* ==========================================================================
   Base basznek nagyon 
   ========================================================================== */
/* =============================================================================
   Header
   ========================================================================== */
/* ==========================================================================
   Content
   ========================================================================== */
/* ==========================================================================
   Primary Content
   ========================================================================== */
/* ==========================================================================
   Sidebar
   ========================================================================== */
/* ==========================================================================
   Posts
   ========================================================================== */
/* ==========================================================================
   Footer
   ========================================================================== */
/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */
/* line 70, ../scss/app.scss */
.aligncenter {
  display: block;
  margin: 0 auto; }

/* line 71, ../scss/app.scss */
.alignleft {
  float: left; }

/* line 72, ../scss/app.scss */
.alignright {
  float: right; }

/* line 73, ../scss/app.scss */
figure.alignnone {
  margin-left: 0;
  margin-right: 0; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
